*{
    box-sizing: border-box;
}
body{
    background-color: #ffb273;
    display: flex;
    justify-content: center;
}
#site{
    width: 1024px;
    height: 800px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
}
#mensagem{
    display: flex;
    align-items: flex-start;
    margin: 3px;
}
.pri{
    margin: 5px 0;
}
.form div{
    margin: 3px 0;
}